.container{
    margin: 50px;
}
.textareas{
    width: 30em;
}

label {
    margin-top: 20px;
}

h6 {
    margin-top: 15px;
}
.largura{
    width: 5em;
}
.span-required{
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: var(--color-red);
    display: none;
}